<div id="page-layout">
	{% include 'ice9-nav-filter-bar' %}
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
			<a href="/" title="{{ 'general.breadcrumbs.back_home' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
			{% if collection %}
				<span aria-hidden="true">&rsaquo;</span>
				{% if collection.handle %}
					{% capture url %}/collections/{{ collection.handle }}{% endcapture %}
					{{ collection.title | link_to: url }}
				{% endif %}
			{% endif %}
			<span aria-hidden="true">&rsaquo;</span>
			<span>{{ product.title }}</span>
		</nav>
	</div>
</div>

<div id="layout-product">
	<div class="row">
		<div class="col-xs-12 col-md-5 col-md-offset-1">
			<div class="row">
				<!-- img product carousel -->
				<div id="product-images">

					<div class="col-xs-12" id="slider">
						<div id="img-products-carousel" class="carousel slide" data-pause="hover">
							<!-- main slider carousel items -->
							<div class="carousel-inner">
								{% for image in product.images %}
								{% capture img_position %}img-{{ forloop.index0 }}{% endcapture %}
									<div {% if img_position == 'img-0' %} class="item active" {% else %} class="item" {% endif %} data-slide-number="{{ forloop.index0 }}">
										<!--<a href="{{ image.src | product_img_url: 'grande' }}" class="zoom-demo" title="Ajua">-->
											<img src="{{ image.src | product_img_url: 'grande' }}" title="{{ product.title }}" data-imagezoom="{{ image.src | product_img_url: '1024x1024' }}" data-magnification="2" data-zoomviewsize="[440,440]">
										<!-- </a> -->
									</div>
								{% endfor %}
							</div>
							<!-- main slider carousel nav controls -->
							<!--
							<a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
							<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
							-->
						</div><!--/image produc carousel-->
					</div><!-- /col-xs-12 -->

					<!-- thumb navigation carousel -->
					<div class="col-xs-12" id="slider-thumbs">
						<!-- thumb navigation carousel items -->
						{% if product.images.size > 1 %}
							<ul>
								{% for image in product.images %}
									{% capture img_position %}img-{{ forloop.index0 }}{% endcapture %}
									<li><a id="carousel-selector-{{ forloop.index0 }}" {% if img_position == 'img-0' %} class="selected" {% endif %}><img src="{{ image.src | product_img_url: 'medium' }}" class="img-responsive img-circle"></a></li>
								{% endfor %}
							</ul>
						{% endif %}
					</div><!-- /col-xs-12 -->

				</div><!-- /product-images -->
			</div>
		</div>
		<div class="col-xs-12 col-md-5">
			<div class="row">

				<div class="col-xs-12">
					<div id="title-product">
						<h1>{{ product.title }}</h1>
					</div>
				</div>

				<div class="col-xs-12">
					<div id="product-description">
					<p><strong>Descripción:</strong></p>
					{{ product.description }}
					</div>
				</div>

				<div class="col-xs-12">

					<div id="add-cart-product">
					{% if product.available %}
						<form action="/cart/add" method="post">
							{% if product.variants.size > 1  %}
								<div id="product-variants">
									<label>Selecciona una variante:</label>
									<select id="product-select" name='id' class="form-control">
										{% for variant in product.variants %}
											<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
										{% endfor %}
									</select>
								</div>
								{% include 'ice9-product-plus' %}
								<div class="add-final">
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											{% if product.compare_at_price_max > product.price %}
												<h3 class="custom-font"><span id="price-field"></span> <small class="custom-font compare-at-price label label-default">{{ product.compare_at_price_max | money }}</small></h3>
											{% else %}
												<h3 class="custom-font"><span id="price-field"></span></h3>
											{% endif %}
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="trigger-js">
												<button id="trigger-cartjs" class="btn-block btn btn-success">{{ 'products.product.add_to_cart' | t }}</button>
											</div>
										</div>
									</div>
							{% else %}
								<div style="visibility: hidden; height: 0px;">
									<select id="product-select" name='id' class="form-control">
										{% for variant in product.variants %}
											<option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
										{% endfor %}
									</select>
								</div>
								{% include 'ice9-product-plus' %}
								<div class="add-final">
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											{% if product.compare_at_price_max > product.price_min %}
												<h3 class="custom-font"><span id="price-field">{{ product.price | money }}</span> <small class="custom-font compare-at-price label label-default">{{ product.compare_at_price_max | money }}</small></h3>
											{% else %}
												<h3 class="custom-font"><span id="price-field">{{ product.price | money }}</span></h3>
											{% endif %}
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="trigger-js">
												<button id="trigger-cartjs" class="btn-block btn btn-success">{{ 'products.product.add_to_cart' | t }}</button>
											</div>
										</div>
									</div>
									
							{% endif %}
									{% comment %}
									<input type="submit" name="add" value="{{ 'products.product.add_to_cart' | t }}" id="purchase" class="btn btn-success" />
									{% endcomment %}
								</div> <!-- add final / -->
						</form>
					{% else %}
						<div class="product-out-of-stock">{{ 'products.product.sorry_stock' | t }}</div>
					{% endif %}
					</div>

				</div>			
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-8 col-lg-offset-2">
			{% include 'ice9-product-related' %}
		</div>
		<div class="col-xs-12 col-md-6 col-lg-8 col-lg-offset-2">
			<div id="social-reviews">
				{% capture the_snippet_ask_friends %}{% include 'socialshopwave-widget-askfriends' %}{% endcapture %}
				{% unless the_snippet_ask_friends contains 'Liquid error' %}
				{{ the_snippet_ask_friends }}
				{% endunless %}                     
				{% capture the_snippet_fave %}{% include 'socialshopwave-widget-fave' %}{% endcapture %}
				{% unless the_snippet_fave contains 'Liquid error' %}
				{{ the_snippet_fave }}
				{% endunless %}
				{% capture the_snippet_reviews %}{% include 'socialshopwave-widget-recommends' %}{% endcapture %}
				{% unless the_snippet_reviews contains 'Liquid error' %}
				{{ the_snippet_reviews }}
				{% endunless %}

				{% if settings.share_prod_on_twitter or  settings.share_prod_on_facebook or  settings.share_prod_on_pinterest  or  settings.share_prod_on_googleplus %}
				<div class="row">
					<div id="sharing">
						{% if settings.share_prod_on_twitter %}
							<div class="col-md-3 col-sm-3">
								<a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
							</div>
						{% endif %}
						{% if settings.share_prod_on_facebook %}
							<div class="col-md-3 col-sm-3">
								<div id="fb-root"></div>
									<div class="fb-like" data-send="false" data-layout="button_count" data-width="" data-show-faces="false"></div>
								</div>
						{% endif %}
						{% if settings.share_prod_on_googleplus %}
							<div class="col-md-3 col-sm-3">
								<div class="g-plusone" data-size="medium" data-annotation="inline" data-width="120"></div>
							</div>
						{% endif %}
						{% if settings.share_prod_on_pinterest %}
							<div class="col-md-3 col-sm-3">
								<a href="http://pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&media={{ product.featured_image | product_img_url: 'compact' }}&description={{ product.description | strip_html | truncatewords: 20 | escape }}" class="pin-it-button" count-layout="horizontal">Pin It</a>
							</div>
						{% endif %}
					</div>
				</div>
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

				<!-- +1 button -->
				<script defer type="text/javascript">
					(function() {
						var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
						po.src = 'https://apis.google.com/js/plusone.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					})();
				</script>

				<!-- tweet btn -->
				<script defer type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

				<!-- pinterest btn -->
				{{ '//assets.pinterest.com/js/pinit.js' | script_tag }}
				{% endif %}
				<div class="fb-comments" data-href="{{ shop.url }}{{ product.url }}" data-num-posts="3"></div>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

// Variables de Productos | Conectado a una collection en Shopify
var globosProducts = [{% for product in collections.globos.products %}'{{ product.title }}',{% endfor %}];
var globosId = [{% for product in collections.globos.products %}'{{ product.id }}',{% endfor %}];
var globosPrice = [{% for product in collections.globos.products %}{{ product.price | money_without_currency | remove: ',' }},{% endfor %}];
var globosImage = [{% for product in collections.globos.products %}'{{ product.featured_image | img_url: "small" }}',{% endfor %}];
var globosCount = [{{ collections.globos.products_count }}];

/// Verificamos si existen variables en el producto
{% for variant in product.variants %}  
	{% if forloop.length > 1 %} 
		var variantAvailable = true;
	{% else %}
		var variantAvailable = false;
	{% endif %}
{% endfor %}

// Actualizar imagen de Select Globos
$('#globos-selector').on('change', function() {
	idOption = '#' + $(this).val();

	if ( $(this).val() == 'none' ) {
		dataImage = '{{ "globo-temp.jpg" | asset_url }}';
	} else {
		dataImage = $(idOption).data('image');
	}
	$("#globos-preview").attr("src",dataImage);
});

// Actualizar imagen de Select Peluches
$('#peluches-selector').on('change', function() {
	idOption = '#' + $(this).val();

	if ( $(this).val() == 'none' ) {
		dataImage = '{{ "oso-temp.png" | asset_url }}';
	} else {
		dataImage = $(idOption).data('image');
	}
	$("#peluches-preview").attr("src",dataImage);
});

// Actualizar imagen de Select Dulces
$('#dulces-selector').on('change', function() {
	idOption = '#' + $(this).val();

	if ( $(this).val() == 'none' ) {
		dataImage = '{{ "chocolate-temp.png" | asset_url }}';
	} else {
		dataImage = $(idOption).data('image');
	}
	$("#dulces-preview").attr("src",dataImage);
});

// Función para agregar Adicionales
function productPlus() {
	// Obtenemos el id del adicional
	var globoId = $('#globos-selector').val();
	var globoIdDom = '#' + globoId;
	var globoData = $(globoIdDom).data('variant');

	var peluchesId = $('#peluches-selector').val();
	var peluchesIdDom = '#' + peluchesId;
	var peluchesData = $(peluchesIdDom).data('variant');

	var dulcesId = $('#dulces-selector').val();
	var dulcesIdDom = '#' + dulcesId;
	var dulcesData = $(dulcesIdDom).data('variant');

	if (globoId != 'none' ) {
		console.log('globo id: ' + globoData);
		CartJS.addItem(globoData);
	} else {
		console.log('No hay globo');
	};

	if (peluchesId != 'none' ) {
		console.log('peluche id: ' + peluchesData);
		CartJS.addItem(peluchesData);
	} else {
		console.log('No hay Peluche');
	};

	if (dulcesId != 'none' ) {
		console.log('dulces id: ' + dulcesData);
		CartJS.addItem(dulcesData);
	} else {
		console.log('No hay Dulces');
	};

};

//$('#trigger-cartjs').click(function(){
$('#trigger-cartjs').on('click', function(e){

	e.preventDefault();

	// capturamos string de la url para productos con variantes
	function getUrlVars()
	{
		var vars = [], hash;
		var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
		for(var i = 0; i < hashes.length; i++)
		{
			hash = hashes[i].split('=');
			vars.push(hash[0]);
			vars[hash[0]] = hash[1];
		}
		return vars;
	}

	// Eventos para agregar productos al carro. Proceso final
	if (variantAvailable == true) {

		var variantId = getUrlVars()["variant"];

		console.log('producto variante: ' + variantId);
		CartJS.addItem(variantId);
		productPlus();

	} else if (variantAvailable == false) {
		{% for variant in product.variants %}
			var variantId = {{ variant.id }};
		{% endfor %}

		console.log('producto variante: ' + variantId);
		CartJS.addItem(variantId);
		productPlus();
	}

});

$(document).on('cart.requestComplete', function(event, cart) {
	window.location = '{{ shop.url }}/cart';
});
</script>















