{% if settings.which-linklist-main-menu != '' %}
  {% if template == 'index' %}
    <div id="header-filter" class="row" style="display:none;">
  {% else %}
    <div id="header-filter" class="row">
  {% endif %}
    <div class="product-nav-wrapper-main col-md-12" style="z-index: 9999;">
      <div id="product-nav-wrapper" class="custom-font">
        <ul class="nav nav-pills">
          {% for link in linklists[settings.which-linklist-main-menu].links %}
          {% assign child_list_handle = link.title | handleize %}
          {% if linklists[child_list_handle].links != blank %}
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="nav-label">{{ link.title | escape }}</span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {% for childlink in linklists[child_list_handle].links %}
              <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
          {% endif %}
          {% endfor %}
          <li>
            <form method="get" action="/search">
                <input type="text" name="q" />
              <button  type="submit"><i class="fa fa-search"></i></button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endif %}