<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="box-1">
			<a href="{{ settings.boxcol1-url }}">
			<img src="{{ 'box-1.jpg' | asset_url}}" class="img-responsive center-block">
			{% unless settings.boxcol1-title == blank %}
			<span>{{ settings.boxcol1-title }}<br><i>{{ settings.boxcol1-sub }}</i></span>
			{% endunless %}
			</a>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="box-2">
			<a href="{{ settings.boxcol2-url }}">
			<img src="{{ 'box-2.jpg' | asset_url}}" class="img-responsive center-block">
			{% unless settings.boxcol2-title == blank %}
			<span>{{ settings.boxcol2-title }}<br><i>{{ settings.boxcol2-sub }}</i></span>
			{% endunless %}
			</a>
		</div>
	</div>
</div>