{% assign number_of_related_products_to_show = 3 %}
{% assign image_size = 'small' %}
{% assign heading = 'Puede interesarte' %}

{% assign number_of_related_products_to_fetch = number_of_related_products_to_show | plus: 1 %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
	{% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
		{% assign found_a_collection = true %}
		{% assign collection = c %}
	{% endif %}
{% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}
	
	<div id="related-products">
		<div class="title-section-related">
			<h3>{{ heading }}</h3>
		</div>

	{% assign current_product = product %}
	{% assign current_product_found = false %}
	{% assign numbers = collection.products_count %}
	{% for product in collection.products limit: 5 offset: 0 %}
		{% if product.handle == current_product.handle %}
			 {% assign current_product_found = true %}
		{% else %}
			 {% unless current_product_found == false and forloop.last %}
				<div class="single-related-product">
					<div class="img-product">
						<a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
						{{ product.featured_image | product_img_url: image_size | img_tag: 'product.title', 'img-responsive center-block' }}
						</a>
					</div>

					<h4 class="product"><a href="{{ product.url }}" title="{{ product.title | escape }}">{{ product.title }}</a></h4>
					<div class="prices">
						<span class="money">{{ product.price | money }}</span>
					</div>
				</div>
			 {% endunless %}
		{% endif %}
	{% endfor %}
	</div>

{% endif %}