{% assign ssw_proxy_url = '/apps/ssw' %}
{% assign ssw_domain = 'www.socialshopwave.com' %}
<script type="text/javascript">
  var HE_DOMAIN = 'http://{{ ssw_domain }}';
  (function(){
// Instant running code
  })(window);
  if(!Shopify.formatMoney)
  Shopify.formatMoney = function(thePrice, theFormat) {

      var formatPattern = /\{\{\s*(\w+)\s*\}\}/;
      theFormat = (theFormat || this.money_format);

      if (typeof thePrice == 'string') {
          thePrice = thePrice.replace(/[^0-9]/g,'');
          }
      thePrice = parseInt(thePrice);
      thePrice = thePrice.toString();

      switch (thePrice.length) {
          case 0:
          thePrice = '000';
          break;

          case 1:
          thePrice = '00' + thePrice;
          break;

          case 2:
          thePrice = '0' + thePrice;
          break;

          default:
          break;
          }

      var decimalsString = thePrice.substr(thePrice.length - 2);
      var unitsString = thePrice.substr(0, thePrice.length - 2);
      var separator = ',';
      var decimalsSeparator = '.';

      function addSeparator(moneyString, separator) {
          separator = (separator || ',');
          return moneyString.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1' + separator);
          }

      switch(theFormat.match(formatPattern)[1]) {

          case 'amount_no_decimals':
          decimalsString = '';
          decimalsSeparator = '';
          break;

          case 'amount_with_comma_separator':
          separator = '.';
          decimalsSeparator = ',';
          break;

          case 'amount_no_decimals_with_comma_separator':
          separator = '.';
          decimalsString = '';
          decimalsSeparator = '';
          break;

          default:
          break;

          }

      var output1 = addSeparator(unitsString, separator) + decimalsSeparator + decimalsString;
      var output2 = theFormat.replace(formatPattern, output1);
      return output2;

      };
  Ssw = {};
  function sswRun(application) {
    if(typeof ssw != typeof 'function') {
      var _loadSswLib = setInterval(function(){
        if (typeof ssw != 'undefined' && ssw) {
          clearInterval(_loadSswLib);
          window.sswIsAppPro = function(app){
            return (typeof window.ssw.apps['default'] !== 'undefined' && window.ssw.apps['default'] != 'lite' && window.ssw.apps['default'] != 'starter') || (typeof window.ssw.apps[app] !== 'undefined' && window.ssw.apps[app] != 'free' && window.ssw.apps[app] != 'starter');
          }
          application(ssw);
        }
      }, 10);
    } else application(ssw);
  }
  function sswGetPopupBounds(width, height) {
    var left = (screen.width/2)-(width/2) - 8;
    var top = (screen.height/2)-(height/2) - 60;
    return    'width=' + width +
            ', height=' + height +
            ', top=' + top +
            ', left=' + left;
  }

  function sswDispatchEvent(eventName, evtDetails) {
    var evt;
    try {
      evt = new CustomEvent(eventName, evtDetails);
    } catch(e) {
      evt = document.createEvent("Event");
      evt.initEvent(eventName,
        evtDetails.bubbles ? evtDetails.bubbles : true,
        evtDetails.cancellable ? evtDetails.cancellable : false
      );
      if(evtDetails.detail)
        evt.detail = evtDetails.detail;
    }
      document.dispatchEvent(evt);

  }
  sswProxyUrl = {{ ssw_proxy_url | json }};
  sswApp = {};
  sswRun(function() {
    {% if customer %}
    sswApp.customer = {
      id: {{ customer.id }},
      email: '{{ customer.email }}',
      addresses: [
        {% for address in customer.addresses %}
        {
          first_name: '{{ address.first_name }}',
          phone: '{{ address.phone }}'
        },
        {% endfor %}
      ],
      last_name: '{{ customer.last_name }}',
      first_name: '{{ customer.first_name }}',
      has_account: {{ customer.has_account }},
      addresses_count: {{ customer.addresses_count }},
      default_address: [
        {% for address in customer.default_address %}
        {
          first_name: '{{ address.first_name }}',
          phone: '{{ address.phone }}'
        },
        {% endfor %}
      ],
      accepts_marketing: {{ customer.accepts_marketing }}
    };
    {% endif %}
  });
  function sswCoreLoaded(application){
    if(typeof sswCoreJsLoaded == 'undefined') {
      var _loadSswCoreJs = setInterval(function(){
        if (typeof sswCoreJsLoaded != 'undefined' && sswCoreJsLoaded) {
          clearInterval(_loadSswCoreJs);

          application(ssw);
        }
      }, 10);
    } else application(ssw);
  }
  function sswUserChecked(application){
    if(typeof userChecked == 'undefined' || !userChecked) {
      var _loadSswUserChecked = setInterval(function(){
        if (typeof userChecked != 'undefined' && userChecked) {
          clearInterval(_loadSswUserChecked);
          application(ssw);
        }
      }, 10);
    } else application(ssw);
  }
  sswLangs = {
    data: {},
    add: function(key, value) {
      this.data[key] = value;
    },
    t: function(key, params) {
      var value = this.data[key] || key;
      value = (value.indexOf("translation missing:") < 0) ? value : key;
      if (params) {
        value = value.replace(/%(\d+)%/g, function(match, number) {
          return (typeof params[number] != 'undefined') ? params[number] : match;
        });
      }
      return value;
    },
    p: function(key_singular, key_plural, count, params) {
      if (count == 1) {
        return this.t(key_singular, params);
      } else {
        return this.t(key_plural, params);
      }
    }
  };
  {% include 'ssw-langs' %}
  if (navigator.userAgent.match(/Android/i)
      || navigator.userAgent.match(/webOS/i)
      || navigator.userAgent.match(/iPhone/i)
      || navigator.userAgent.match(/iPad/i)
      || navigator.userAgent.match(/iPod/i)
      || navigator.userAgent.match(/BlackBerry/i)
  ) {
    document.body.className += " ssw-touch";
  }

  function sswGetParameterByName(name) {
    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }
</script>
{{ 'socialshopwave.css'| asset_url | stylesheet_tag }}
<style id="ssw-design-preview"></style>
{{ 'ssw-libraries.js' | asset_url | script_tag }}
{{ 'ssw-fontello.min.css'| asset_url | stylesheet_tag }}
{% if customer %}
  <input id="ssw_cid" type="hidden" value="{{ customer.id}}" />
{% else %}
  <input id="ssw_cid" type="hidden" value="0" />
{% endif %}

{% capture ssw_login_helper %}{% include 'ssw-login-helper' %}{% endcapture %}
{% unless ssw_login_helper contains 'Liquid error' %}
	{{ ssw_login_helper }}
{% endunless %}

{% capture ssw_review_helper %}{% include 'ssw-review-helper' %}{% endcapture %}
{% unless ssw_review_helper contains 'Liquid error' %}
	{{ ssw_review_helper }}
{% endunless %}

{% capture ssw_community_helper %}{% include 'ssw-community-helper' %}{% endcapture %}
{% unless ssw_community_helper contains 'Liquid error' %}
	{{ ssw_community_helper }}
{% endunless %}

{% capture ssw_instagram_helper %}{% include 'ssw-instagram-helper' %}{% endcapture %}
{% unless ssw_instagram_helper contains 'Liquid error' %}
	{{ ssw_instagram_helper }}
{% endunless %}

{% capture ssw_sharing_helper %}{% include 'ssw-sharing-helper' %}{% endcapture %}
{% unless ssw_sharing_helper contains 'Liquid error' %}
	{{ ssw_sharing_helper }}
{% endunless %}

{% capture ssw_comment_helper %}{% include 'ssw-comment-helper' %}{% endcapture %}
{% unless ssw_comment_helper contains 'Liquid error' %}
	{{ ssw_comment_helper }}
{% endunless %}

{% capture ssw_ask_friends_helper %}{% include 'ssw-ask-friends-helper' %}{% endcapture %}
{% unless ssw_ask_friends_helper contains 'Liquid error' %}
	{{ ssw_ask_friends_helper }}
{% endunless %}

{% capture ssw_fave_helper %}{% include 'ssw-fave-helper' %}{% endcapture %}
{% unless ssw_fave_helper contains 'Liquid error' %}
	{{ ssw_fave_helper }}
{% endunless %}

{% capture ssw_invite_helper %}{% include 'ssw-invite-helper' %}{% endcapture %}
{% unless ssw_invite_helper contains 'Liquid error' %}
	{{ ssw_invite_helper }}
{% endunless %}

<script type="text/javascript">
  var shop_url = 'http://' + Shopify.shop;
  var shop_name = "{{shop.name}}";
  var sswJqLoaded = false;
  var ssw = false;
  var userChecked = false;
  var loadSswWidgetListingInterval = [];
  var sswProductPins = [];
  var currency_format = "{{ shop.money_with_currency_format }}";

  //load jquery if not loaded before
  function loadScript(url, callback) {

    var script = document.createElement("script");
    script.type = "text/javascript";

    if (script.readyState) { //IE
      script.onreadystatechange = function () {
        if (script.readyState == "loaded" ||
            script.readyState == "complete") {
          script.onreadystatechange = null;
          callback();
        }
      };
    } else { //Others
      script.onload = function () {
        callback();
      };
    }

    script.src = url;
    document.getElementsByTagName("head")[0].appendChild(script);
  }

  if ((typeof jQuery === 'undefined') || jQuery.fn.jquery.indexOf("1.8") != -1 || (parseFloat(jQuery.fn.jquery) <= 1.7)) {
    loadScript('//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', function () {
      ssw = jQuery.noConflict(true);
      sswJqLoaded = true;
      sswDispatchEvent('sswjqueryload', {
        detail: {
          ssw: ssw
        },
        bubbles: true,
        cancelable: false
      });
      sswCookieLoad(ssw);
      checkUser(ssw);
    });
  } else {
    ssw = jQuery;
    sswJqLoaded = true;
    sswDispatchEvent('sswjqueryload', {
      detail: {
        ssw: ssw
      },
      bubbles: true,
      cancelable: false
    });
    sswCookieLoad(jQuery);
    checkUser(jQuery);
  }

  /// cookie.js
  function sswCookieLoad(jQuery) {
    jQuery.cookie = function (key, value, options) {

      // key and value given, set cookie...
      if (arguments.length > 1 && (value === null || typeof value !== "object")) {
        options = jQuery.extend({}, options);

        if (value === null) {
          options.expires = -1;
        }

        if (typeof options.expires === 'number') {
          var days = options.expires, t = options.expires = new Date();
          t.setDate(t.getDate() + days);
        } else if (typeof options.expires === 'string') {
          var hours = parseInt(options.expires), t = options.expires = new Date();
          t.setHours(t.getHours() + hours);
        }

        return (document.cookie = [
          encodeURIComponent(key), '=',
          options.raw ? String(value) : encodeURIComponent(String(value)),
          options.expires ? '; expires=' + options.expires.toUTCString() : '', // use expires attribute, max-age is not supported by IE
          options.path ? '; path=' + options.path : '',
          options.domain ? '; domain=' + options.domain : '',
          options.secure ? '; secure' : ''
        ].join(''));
      }

      // key and possibly options given, get cookie...
      options = value || {};
      var result, decode = options.raw ? function (s) {
        return s;
      } : decodeURIComponent;
      return (result = new RegExp('(?:^|; )' + encodeURIComponent(key) + '=([^;]*)').exec(document.cookie)) ? decode(result[1]) : null;
    };
    if (jQuery.cookie('hesid') == null)
      jQuery.cookie('hesid', 'sid' + new Date().getTime(), {path: '/'});
  }
  function sswCookie(key, value, exphours) {
    var cookie;
    exphours = exphours ? exphours : 24 * 7;
    if (value && exphours) {
      var exdate = new Date();
      exdate.setHours(exdate.getHours() + exphours);
      cookie = escape(value) + ((exphours == null) ? "" : "; expires=" + exdate.toUTCString());
      document.cookie = key + "=" + cookie;
      return this;
    }
    var matches = document.cookie.match(new RegExp(
        "(?:^|; )" + key.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
    ));
    return matches ? decodeURIComponent(matches[1]) : undefined;
  }

  function checkUser($) {
    var data = {'_sid': sswCookie('hesid'), 'hash_key': sswCookie('hash_key')};
    {% if shop.customer_accounts_enabled and customer %}
    data.customer_id = {{customer.id}};
    var wishlistRaw = localStorage.getItem('ssw-wishlist');
    if(wishlistRaw){
      data.wishlist = JSON.parse(wishlistRaw);
      localStorage.removeItem('ssw-wishlist');
    }
    {% endif %}
    if(typeof sswCookie('cart') != 'undefined'){
      data.cart_token = sswCookie('cart');
    }
    if(typeof sswCookie('ssw_our_session') != 'undefined'){
      data.ssw_our_session = sswCookie('ssw_our_session');
    }
    if(typeof sswCookie('ssw_referrer') != 'undefined'){
      data.ssw_referrer = sswCookie('ssw_referrer');
    }
    $.ajax({
      type: 'post',
      url: sswProxyUrl + '/lite2/user/check',
      data: data,
      success: function (response) {
        if (typeof response.discount != 'undefined' && response.discount) {
          $('#ssw-discount-code').html(response.discount.code);
          $('#discount-date').html('Valid until ' + response.discount.date);
          $('#ssw-discount-modal').sswModal();
        }
        if (response.spp) {
          ssw('body').append(
              ssw('<div>', {class: 'ssw-modal ssw-hide ssw-fade', id: 'purchase_modal', role:"modal", 'aria-hidden':"false" }).append(
                  ssw('<div>', {class: 'ssw-modal-dialog'}).append(
                      ssw('<div>', {class: 'ssw-modal-content'}).append(
                          ssw('<div>', {class: 'ssw-modal-body'}).append(
                              '<button aria-hidden="true" data-dismiss="ssw-modal" class="ssw-close" type="button">&times</button><div  class="h2">Share Your Order</div>Thank you for your order! Let others know about your great purchase. Would like to share this only on our site?<br><br><label class="radio"><input type="radio" checked="checked" class="input"> Yes, share my purchases into Feed</label><label class="radio"><input type="radio" class="input"> No, don\'t share my purchases</label>'
                          )
                      ).append(
                          ssw('<div>', {class: 'ssw-modal-footer'}).append(
                              '<button class="btn">Remember my choice</button> or <a aria-hidden="true" data-dismiss="modal" href="javascript://">Cancel</a>'
                          )
                      )
                  )
              )
          )
        }
        if (typeof response.fb_data != 'undefined' && response.fb_data.length && typeof targetFbShareSetting != 'undefined') {
          targetFbShareSetting('purchase', response.fb_data.id, response.fb_data.name, response.fb_data.product_id, '', '');
        } else if (response.show_follow == true && typeof showFollowPopup != 'undefined') {
          setTimeout(function(){
            showFollowPopup();
          }, 5000);
        }
        if (response.result == 'logout' || response.result == "User not found") {
          sswCookie('hesid', null);
        }
        if (response.hash_key) {
          ssw.cookie('hash_key', response.hash_key, {
            expires: 30,
            path: '/'
          });
        }
        if(typeof sswCookie('cart') == 'undefined' && response.cart){
          ssw.cookie('cart', response.cart, {
            expires: 14,
            path: '/'
          });
        }

        userChecked = true;
        window.ssw.isFree = response.isFree;
        window.ssw.isLite = response.isLite;
        window.ssw.apps = response.apps;
        window.ssw.suggest_login = response.suggest_login;
        window.ssw.suggest_login_period = response.suggest_login_period;
        window.ssw.login_redirect_url = response.login_redirect_url;

        if(response.modules) // for ssw =1 case
          window.ssw.modules = response.modules;

        if( response.isFree || response.isLite ) {
          $('#login_modal .ssw-modal-footer, #signup_modal .ssw-modal-footer, #notifyModal .ssw-modal-footer, .ssw-social-login-widget, #ssw-product-modal .ssw-modal-footer, #ssw-action-modal .ssw-modal-footer').append(response.watermark);
        }

        {% if shop.customer_accounts_enabled and customer %}
        if(localStorage.getItem('ssw-wishlist')){
          localStorage.removeItem('ssw-wishlist');
        }
        {% endif %}
        sswDispatchEvent('sswusercheck', {
                detail: {ajaxResponse: response},
                bubbles: true,
                cancelable: false
              });
      },
      dataType: 'json',
      async: true
    });
  }

  {% if shop.customer_accounts_enabled and customer %}
  var url = sswGetParameterByName('checkout_url');
  if (url) {
    location.href = url;
  }
  {% endif %}
  {% if template contains 'product' and product %}
  if(typeof sswProductViewInterval == 'undefined'){
    var sswProductViewInterval = setInterval(function(){
      if(typeof sswJqLoaded != 'undefined' && sswJqLoaded){
        clearInterval(sswProductViewInterval);
        var data = {'product_id': {{product.id}},
          '_sid':sswCookie('hesid'),
          'hash_key':sswCookie('hash_key')
        };
        if (sswCookie('mail_id'))
          data.resource_id = sswCookie('mail_id');
        ssw.get(sswProxyUrl + '/lite2/product-view', data, function (data) {
        }, 'json');
      }
    }, 300);
  }
  {% endif %}
</script>
{{ ssw_proxy_url | append: '/public/js/product-pins.js' | script_tag }}

<script type="text/javascript">
  if( !('placeholder' in document.createElement('input')) ) {
    var head = document.getElementsByTagName('head')[0];
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = sswProxyUrl + '/public/js/core/placeholders.js';

    // Fire the loading
    head.appendChild(script);
  }
</script>
<div id="ssw-discount-modal" class="ssw-modal ssw-fade" aria-hidden="true" role="modal">
  <div class="ssw-modal-dialog">
    <div class="ssw-modal-content">
      <div class="ssw-modal-body">
        <button type="button" class="ssw-close" data-dismiss="ssw-modal" aria-hidden="true">&times;</button>
        <span>{{ 'socialshopwave.your_discount_code' | t }}</span>
        <br />
        <div class="h1" id="ssw-discount-code"></div>
        <br />
        <span id="discount-date"></span>
      </div>
    </div>
  </div>
</div>

{% capture the_snippet_content %}{% include 'ssw-cart-modal' %}{% endcapture %}
{% unless the_snippet_content contains 'Liquid error' %}
    {{ the_snippet_content }}
{% endunless %}
{% capture the_snippet_content %}{% include 'ssw-product-modal' %}{% endcapture %}
{% unless the_snippet_content contains 'Liquid error' %}
    {{ the_snippet_content }}
{% endunless %}
{% capture the_snippet_content %}{% include 'ssw-suggest-login' %}{% endcapture %}
{% unless the_snippet_content contains 'Liquid error' %}
    {{ the_snippet_content }}
{% endunless %}
<script type="text/javascript">
  if (window.addEventListener){ addEventListener("message", sswListener); }
  else { window.attachEvent("onmessage", sswListener) }
  function  sswListener(event){
    if(typeof event.data.ssw_message != 'undefined' && event.data.ssw_message){
      if(typeof event.data.hide_admin_bar && event.data.hide_admin_bar){
        ssw('#admin_bar_iframe').hide();
        ssw('html').css('margin-top', '0px');
      }
      if(typeof event.data.css_code != 'undefined' && event.data.css_code){
        ssw('#ssw-design-preview').html(event.data.css_code);
      }
      if(typeof event.data.js_code != 'undefined' && event.data.js_code){
        eval(event.data.js_code);
      }
    }
  }
</script>
{{ 'socialshopwave-custom.css'| asset_url | stylesheet_tag }}