<div id="product-plus">
	<p><strong>Personaliza:</strong></p>
	<div class="row plus-box">
		<div class="col-xs-3">
			<div class="selector-image">
				<img src="{{ 'globo-temp.jpg' | asset_url }}" id="globos-preview" class="img-thumbnail">
			</div>
		</div>
		<div class="col-xs-9">
			<label>Globos disponibles:</label>
			<select id="globos-selector" class="form-control">
				<option value="none">-- Selecciona:</option>
				{% for product in collections.globos.products %}
					<option id="{{ product.id }}" value="{{ product.id }}" data-variant="{% for variant in product.variants %}{{ variant.id }}{% endfor %}" data-image="{{ product.featured_image | img_url: 'small' }}">{{ product.title }} +MXN {{ product.price | money_without_currency | remove: ',' }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="row plus-box">
		<div class="col-xs-3">
			<div class="selector-image">
				<img src="{{ 'oso-temp.png' | asset_url }}" id="peluches-preview" class="img-thumbnail">
			</div>
		</div>
		<div class="col-xs-9">
			<label>Peluches disponibles:</label>
			<select id="peluches-selector" class="form-control">
				<option value="none">-- Selecciona:</option>
				{% for product in collections.peluches.products %}
					<option id="{{ product.id }}" value="{{ product.id }}" data-variant="{% for variant in product.variants %}{{ variant.id }}{% endfor %}" data-image="{{ product.featured_image | img_url: 'small' }}">{{ product.title }} +MXN {{ product.price | money_without_currency | remove: ',' }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="row plus-box">
		<div class="col-xs-3">
			<div class="selector-image">
				<img src="{{ 'chocolate-temp.png' | asset_url }}" id="dulces-preview" class="img-thumbnail">
			</div>
		</div>
		<div class="col-xs-9">
			<label>Dulces disponibles:</label>
			<select id="dulces-selector" class="form-control">
				<option value="none">-- Selecciona:</option>
				{% for product in collections.dulces.products %}
					<option id="{{ product.id }}" value="{{ product.id }}" data-variant="{% for variant in product.variants %}{{ variant.id }}{% endfor %}" data-image="{{ product.featured_image | img_url: 'small' }}">{{ product.title }} +MXN {{ product.price | money_without_currency | remove: ',' }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>