<div class="ssw-row-fluid">
    <div class="ssw-span12">
        <div class="ssw-share-review-page">
            <h1>{{ 'socialshopwave.let_us_know_what_you_think' | t }}</h1>
            <form id="ssw-share-review-form" method="post">
                <div class="ssw-control-group ssw-stars">
                    <i title="{{ 'socialshopwave.hate_it' | t }}" class="ssw-icon-star-empty" data-value="1"></i>
                    <i title="{{ 'socialshopwave.dislike_it' | t }}" class="ssw-icon-star-empty" data-value="2"></i>
                    <i title="{{ 'socialshopwave.neutral' | t }}" class="ssw-icon-star-empty" data-value="3"></i>
                    <i title="{{ 'socialshopwave.like_it' | t }}" class="ssw-icon-star-empty" data-value="4"></i>
                    <i title="{{ 'socialshopwave.love_it' | t }}" class="ssw-icon-star-empty" data-value="5"></i>
                </div>
                <div class="ssw-control-group">
                    <input type="hidden" name="rate" value="0">
                    <input type="hidden" name="token" value="">
                    <textarea name="body" class="ssw-input-block-level" placeholder="{{ 'socialshopwave.why_do_you_recommend' | t }}" required="required" rows="4"></textarea>
                </div>
                <div class="ssw-control-group ssw-text-right">
                    <input type="submit" class="btn button" value="{{ 'socialshopwave.share' | t }}" data-text="{{ 'socialshopwave.share' | t }}" data-loading-text="{{ 'socialshopwave.sharing' | t }}">
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    if(typeof sswShareReviewPageInterval == 'undefined'){
        var sswShareReviewPageInterval = setInterval( function() {
            if(typeof sswJqLoaded != 'undefined' && sswJqLoaded){
                clearInterval(sswShareReviewPageInterval);
                function sswIsInt(value) {
                    return !isNaN(value) &&
                            parseInt(Number(value)) == value &&
                            !isNaN(parseInt(value, 10));
                }
                var sswRate = sswGetParameterByName('rate');
                var sswToken = sswGetParameterByName('token');
                if(sswIsInt(sswRate)){
                    sswRate = parseInt(sswRate);
                    if(sswRate > 0 && sswRate < 6){
                        ssw('#ssw-share-review-form').find('input[name="rate"]').val(sswRate);
                        ssw('#ssw-share-review-form .ssw-stars > i:lt(' + sswRate + ')').removeClass('ssw-icon-star-empty').addClass('ssw-icon-star');
                    }
                }
                ssw('#ssw-share-review-form').find('input[name="token"]').val(sswToken);

                ssw('#ssw-share-review-form .ssw-stars > i').hover(
                        function() {
                            var sswReviewIndex = ssw(this).data('value');
                            var sswReviewRate = ssw('#ssw-share-review-form').find('input[name="rate"]').val();
                            if(sswReviewIndex > sswReviewRate){
                                ssw('#ssw-share-review-form .ssw-stars > i:lt(' + sswReviewIndex + ')').removeClass('ssw-icon-star-empty').addClass('ssw-icon-star');
                            }
                        }, function() {
                            var sswReviewRate = parseInt(ssw('#ssw-share-review-form').find('input[name="rate"]').val());
                            if(sswReviewRate){
                                ssw('#ssw-share-review-form .ssw-stars > i:gt(' + (sswReviewRate - 1) + ')').removeClass('ssw-icon-star').addClass('ssw-icon-star-empty');
                            }
                            else{
                                ssw('#ssw-share-review-form .ssw-stars > i').removeClass('ssw-icon-star').addClass('ssw-icon-star-empty');
                            }
                        }
                );

                ssw('#ssw-share-review-form .ssw-stars > i').click(function(){
                    ssw('#ssw-share-review-form').find('input[name="rate"]').val(ssw(this).data('value'));
                    ssw('#ssw-share-review-form .ssw-stars > i:lt(' + ssw(this).data('value') + ')').removeClass('ssw-icon-star-empty').addClass('ssw-icon-star');
                    ssw('#ssw-share-review-form .ssw-stars > i:gt(' + (ssw(this).data('value') - 1) + ')').removeClass('ssw-icon-star').addClass('ssw-icon-star-empty');
                });

                if(sswToken == 'test'){
                    ssw('.ssw-share-review-page').prepend('<div class="ssw-fade ssw-in ssw-alert ssw-alert-warning"><button class="ssw-close" data-dismiss="ssw-alert">&times</button>' + "{{ 'socialshopwave.review_test_mode' | t }}" + '</div>');
                    ssw('#ssw-share-review-form').submit(function(){
                        return false;
                    });
                }
                else{
                    ssw('#ssw-share-review-form').submit(function(){
                        var sswReviewRate = parseInt(ssw(this).find('input[name="rate"]').val());
                        if(!sswReviewRate){
                            var reviewWarningPopover = ssw(this).find('.ssw-stars').data('ssw.sswPopover');
                            if(reviewWarningPopover == null){
                                reviewWarningPopover = ssw(this).find('.ssw-stars').sswPopover({
                                    trigger: "manual",
                                    placement: "bottom",
                                    content: 'Required',
                                    ssw_validator: true,
                                    template: "<div class=\"ssw-popover ssw-validator\"><div class=\"ssw-arrow\"></div><div class=\"ssw-popover-inner\"><div class=\"ssw-popover-content\"><p></p></div></div></div>"
                                });
                            }
                            ssw(this).find('.ssw-stars').sswPopover('show');
                            return false;
                        }
                        var data = {
                            'rate': sswReviewRate,
                            'body': ssw(this).find('textarea[name="body"]').val(),
                            'token': ssw(this).find('input[name="token"]').val(),
                            '_sid': sswCookie('hesid'),
                            'hash_key': sswCookie('hash_key')
                        };
                        var $addReviewButton = ssw(this).find('input[type="submit"]');
                        $addReviewButton.attr('disabled', true);
                        $addReviewButton.addClass('disabled');
                        $addReviewButton.val($addReviewButton.data('loading-text'));
                        ssw.post(sswProxyUrl + '/lite2/share-review', data, function(response){
                            if(response.success){
                                ssw('#ssw-share-review-form').fadeOut("slow", function(){
                                    ssw('.ssw-share-review-page').append('<div class="ssw-fade ssw-in ssw-alert ssw-alert-success"><button class="ssw-close" data-dismiss="ssw-alert">&times</button>' + response.message + '</div>');
                                    if(!response.discount){
                                        setTimeout(function(){
                                            location.href = '/';
                                        }, 2000);
                                    }
                                });

                            }
                            else{
                                ssw('.ssw-share-review-page').prepend('<div class="ssw-fade ssw-in ssw-alert ssw-alert-warning"><button class="ssw-close" data-dismiss="ssw-alert">&times</button>' + response.message + '</div>');
                            }
                            $addReviewButton.removeAttr('disabled');
                            $addReviewButton.removeClass('disabled');
                            $addReviewButton.val($addReviewButton.data('text'));
                        }, 'json');
                        return false;
                    });
                }
            }
        }, 200);
    }
</script>